.sidebar {
  width: 20vw;
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #292929;
}

.MuiListItem-dense {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.MuiListItemIcon-root, .MuiListItemText-root {
  color: rgba(255, 255, 255, 0.8) !important;
}

.MuiListItem-dense:hover .MuiListItemIcon-root {
  color: #FFE733 !important;
}

.MuiListItem-dense:hover .MuiListItemText-root {
  color: #FFE733 !important;
}


.title {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.MuiListItem-dense:hover .state {
  display: block;
}
